<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Take a Rest</title>
    <!-- <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" /> -->
    <script>
      (function() {
        if (!process.env.HOT) {
          const link = document.createElement('link');
          link.rel = 'stylesheet';
          link.href = '../dist/style.css';
          document.write(link.outerHTML);
        }
      }());
    </script>
  </head>
  <body>
    <h1>SLEEEEEEEEEEP</h1>
  </body>
</html>
